<!DOCTYPE html>
<html>
    <head>
        <title>Определение доходности ИП</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

        {% load static %}

        <link rel="stylesheet" href="{% static 'main/index.css' %}">
    </head>
    <body>
        <div class="header">
            <img src="{% static 'main/icon.svg' %}"/>
            <h2>Определение доходности ИП</h2>  
        </div>

        <div class="content">
            <div>
                <h2>Данные об ИП</h2>
                <form method="GET">
                    <input name="date" type="text" placeholder="Дата открытия ИП" onfocus="(this.type='date')">
                    <select name="region">
                        <option disabled selected hidden="">Регион ИП</option>
                        {% for region in regions %}
                        <option value="{{region.pk}}">{{ region.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="industry">
                        <option disabled selected hidden="">Отрасль ИП</option>
                        {% for industry in industries %}
                        <option value="{{industry.pk}}">{{ industry.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="first" value="Добавить">
                </form>
            </div>
    
            <div>
                <h2>Фильтры отображения</h2>
                <form method="get">
                    <select name="region">
                        <option disabled selected hidden="">Регион</option>
                        {% for region in regions %}
                        <option value="{{region.pk}}">{{ region.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="industry">
                        <option disabled selected hidden="">Отрасль</option>
                        {% for industry in industries %}
                        <option value="{{industry.pk}}">{{ industry.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="second" value="Применить">
                </form>
            </div>
    
            <div>
                <h2>Результат кластеризации</h2>
                <p>↓ низкий оборот и ↓ низкая валовая добавленная стоимость: ИП могут быть относительно новыми на рынке или работать в менее прибыльных отраслях. Для таких предприятий банк может предложить услуги по управлению капиталом, микрокредиты для поддержки бизнеса, консультации по повышению эффективности и бизнес-тренинги, что поможет им закрепиться на рынке и улучшить финансовые показатели.</p>

                <p>↑ высокий оборот и ↓ низкая валовая добавленная стоимость: ИП могут иметь хороший оборот, но низкую прибыльность. Для них банки могут разработать услуги по оптимизации бизнес-процессов, предложить кредитование для модернизации производства или инвестирование в новые технологии для повышения валовой добавленной стоимости.</p>

                <p>↓ низкий оборот и ↑ высокая валовая добавленная стоимость: ИП вероятно, работают в высокомаржинальных нишах. Банки могут предложить им инвестиционные продукты, вклады с высокими процентными ставками, а также услуги по расширению бизнеса и привлечению новых клиентов, что позволит максимизировать их доходность.</p>

                <p>↑ высокий оборот и ↑ высокая валовая добавленная стоимость: ИП являются устойчивыми и успешными на рынке. Для них банки могут предложить комплексные финансовые инструменты, такие как управление активами, услуги корпоративного банкинга, индивидуальные инвестиционные предложения и продукты для дальнейшего расширения бизнеса.</p>
            </div>


            {% if plot_url %}
            <div>
                <h2>График результатов</h2>
                <img class = "result" src="{% static plot_url %}" alt="График кластеризации">
            </div>
            {% endif %}
        </div>
    </body>
</html>