<!DOCTYPE html>
<html>
    <head>
        <title>Определение доходности ИП</title>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">

        {% load static %}

        <link rel="stylesheet" href="{% static 'main/index.css' %}">
    </head>
    <body>
        <div class="header">
            <img src="{% static 'main/icon.svg' %}"/>
            <h2>Определение доходности ИП</h2>  
        </div>

        <div class="content">
            <div>
                <h2>Данные об ИП</h2>
                <form method="GET">
                    <input name="date" type="text" placeholder="Дата открытия ИП" onfocus="(this.type='date')">
                    <select name="region">
                        <option disabled selected hidden="">Регион ИП</option>
                        {% for region in regions %}
                        <option value="{{region.pk}}">{{ region.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="industry">
                        <option disabled selected hidden="">Отрасль ИП</option>
                        {% for industry in industries %}
                        <option value="{{industry.pk}}">{{ industry.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="first" value="Добавить">
                </form>
            </div>
    
            <div>
                <h2>Фильтры отображения</h2>
                <form method="get">
                    <select name="region">
                        <option disabled selected hidden="">Регион</option>
                        {% for region in regions %}
                        <option value="{{region.pk}}">{{ region.name }}</option>
                        {% endfor %}
                    </select>
                    <select name="industry">
                        <option disabled selected hidden="">Отрасль</option>
                        {% for industry in industries %}
                        <option value="{{industry.pk}}">{{ industry.name }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" name="second" value="Применить">
                </form>
            </div>
    
            <div>
                <h2>Результат кластеризации</h2>
                <p>!Ответ!</p>
            </div>
        </div>
    </body>
</html>